POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=demand_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

FALKOR_HOST=localhost
FALKOR_PORT=6379
FALKOR_GRAPH=demand_graph

EMAIL_ADDRESS=bejagamrevan@gmail.com
EMAIL_APP_PASSWORD=mahxntwziunvaxzo
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
IMAP_SERVER=imap.gmail.com
IMAP_PORT=993

IMAP_HOST=imap.gmail.com
IMAP_PORT=993
MAIL_USERNAME=bejagamrevan @gmail.com
MAIL_PASSWORD=mahxntwziunvaxzo
ATTACHMENT_DIR=attachments