# Virtual environments
venv/
.venv/
12venv/
# Python cache
__pycache__/
*.pyc
*.pyo
whatsapp_uploads/


# Environment variables / secrets
.env
.env.*

# SonarQube
.scannerwork/
.sonar/
sonar-scanner.zip

# Logs
*.log

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/